<div class="form-group" [formGroup]="form" [ngClass]="{'has-error':form.sent && form.controls[name]?.errors}">
    <div class="form-check">
        <input class="form-check-input" [id]="'cb_'+name" type="checkbox" [formControlName]="name" value="true">
        <label class="form-check-label" [for]="'cb_'+name">
            <span [innerHtml]="label"></span>
            <ng-content></ng-content>
        </label>
    </div>
    <error-block *ngIf="form.sent" [control]="form.controls[name]" [messages]="messages" [ignore]="ignore">
    </error-block>
    <small class="text-muted" *ngIf="helpText">{{helpText}}</small>
</div>