<div class="form-group" [formGroup]="form" [ngClass]="{'has-error':form.sent && form.controls[name]?.errors}">
    <ng-container *ngIf="type != 'checkbox'">
        <label for="{{name}}" *ngIf="showLabel">{{label}}</label>
        <input [type]="type" [formControlName]="name" [placeholder]="placeholder ? placeholder : label"
            class="form-control">
    </ng-container>
    <error-block *ngIf="form.sent" [control]="form.controls[name]" [messages]="messages" [ignore]="ignore">
    </error-block>
    <small class="text-muted" *ngIf="helpText">{{helpText}}</small>
</div>